<mat-card>
    <mat-card-title>Send a message</mat-card-title>
    <mat-form-field style="width: 100%">
        <input matInput style="width: 100%" color="primary" placeholder="Username" [ngModel]="websocketService.username" (change)="websocketService.username = $event.target.value" (keydown)="keydown($event)" autofocus>
    </mat-form-field>
    <mat-form-field style="width: 100%">
        <input matInput style="width: 100%" color="primary" placeholder="Message" [(ngModel)]="currentMessage" (keydown)="keydown($event)" autofocus>
    </mat-form-field>
    <p>
    <button mat-raised-button color="primary" (click)="sendMessage()">Send message</button>
</mat-card>

<mat-card>
    <mat-card-title>Last messages</mat-card-title>
    <div *ngFor="let message of websocketService.lastMessages; let i = index">
        <mat-divider *ngIf="i !== 0"></mat-divider>
        <div style="padding: 20px">{{ message }}</div>
    </div>

    <span *ngIf="websocketService.lastMessages.length === 0">
        No messages right now.
    </span>
</mat-card>

<mat-card>
    <mat-card-title>Members</mat-card-title>
    <ul>
        <li *ngFor="let user of websocketService.members">{{ user }}</li>
    </ul>
</mat-card>
